<footer class="footer-container  isolate overflow-hidden relative">
      <app-bg-shades></app-bg-shades>
  <div
    class="footer-content w-full bg-neutral-900 px-6 py-12 md:px-12 lg:px-24"
  >

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-12 max-w-7xl mx-auto relative overflow-visible isolate"
    >
  
      <div class="footer-section">
        <div class="logo-container mb-4">
          <img
            src="/images/zanelogo.png"
            alt="ZANE Systems Logo"
            class="footer-logo"
          />
        </div>
        <p class="footer-description" style="color: oklch(97% 0 0)">
          The ultimate solution for livestock management and grazing.
        </p>
      </div>

      
      <div class="footer-section">
        <h3 class="footer-heading" style="color: oklch(97% 0 0)">Navigation</h3>
        <ul class="footer-links">
          <li *ngFor="let link of navigationLinks">
            <a style="color: #00dddd" [href]="link.route" class="footer-link">
              {{ link.label }}
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="footer-heading" style="color: oklch(97% 0 0)">
          Information
        </h3>
        <ul class="footer-links">
          <li *ngFor="let link of informationLinks">
            <a style="color: #00dddd" [href]="link.route" class="footer-link">
              {{ link.label }}
            </a>
          </li>
        </ul>
      </div>

  
      <div class="footer-section">
        <h3 class="footer-heading" style="color: oklch(97% 0 0)">Contact</h3>
        <ul class="footer-contact text-white">
          <li
            style="color: #00dddd"
            *ngFor="let contact of contactInfo"
            class="flex items-center gap-2 primary"
          >
            <mat-icon>{{ contact.icon }}</mat-icon>
            <a target="_blank" [href]="contact.link">{{ contact.text }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

 
  <div class="bg-neutral-900 w-full px-6 py-6 md:px-12 lg:px-24">
    <div
      class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-4"
    >
      <p class="text-neutral-200">
        Copyright © 2012 - {{ currentYear }} ZANE systems Kft.
      </p>
      <p class="text-neutral-200">
        Developed by:
        <a
          class="text-cyan-200 border-b border-b-cyan-200"
        
          >Leo Reus Oliveira</a
        >
      </p>
    </div>
  </div>
</footer>
