<section class="relative w-full min-h-screen shadow-lg overflow-hidden">
  <!-- Background video -->
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover"
  >
    <source src="images/hero-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Dark overlay -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Content -->
  <div
    class="relative z-10 flex flex-col justify-center items-start px-4 sm:px-6 md:px-10 lg:px-20 h-screen text-white text-center"
  >
    <div
      class="w-full max-w-3xl p-6 sm:p-10 rounded-3xl bg-white/10 backdrop-blur-xs shadow-2xl text-left"
    >
      <app-cart-button></app-cart-button>

      <!-- Title -->
      <h1
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-tight mb-4 animate-fade-up animate-delay-1"
      >
        {{ 'hero.TITLE' | translate }}
      </h1>

      <!-- Subtitle -->
      <p
        class="text-base sm:text-lg md:text-xl text-gray-200 animate-fade-up animate-delay-2 mb-6"
      >
        {{ 'hero.SUBTITLE' | translate }}
      </p>

      <!-- Buttons -->
      <div
        class="flex flex-col sm:flex-row gap-4 sm:gap-6 mt-8 sm:mt-10 pb-8 justify-center sm:justify-start"
      >
        <button
          mat-flat-button
          class="animate-fade-up animate-delay-3 w-full sm:w-1/2"
          color="primary"
          style="height: 3.5rem; font-size: 1.1rem"
        >
          <mat-icon>map</mat-icon>
          {{ 'hero.TRACKER_MAP' | translate }}
        </button>

        <button
          mat-flat-button
          class="animate-fade-up animate-delay-3 w-full sm:w-1/2"
          color="accent"
          style="height: 3.5rem; font-size: 1.1rem"
        >
          {{ 'hero.GET_STARTED' | translate }}
          <mat-icon>star_shine</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
