<section class="relative w-full shadow-lg overflow-hidden">

  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover"
  >
    <source src="images/hero-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>


  <div class="absolute inset-0 bg-black/40"></div>

  <div class="xl:flex xl:justify-between items-center">
    <div
      class="relative z-10 flex items-center xl:mx-44 justify-center h-screen text-white text-center"
    >
      <div
        class="max-w-3xl p-8 md:p-10 rounded-3xl bg-white/10 backdrop-blur-xs border border-white/20 shadow-2xl text-left"
      >
        <app-cart-button></app-cart-button>

        <h1
          class="text-4xl md:text-6xl text-neutral-100 font-extrabold animate-fade-up animate-delay-1 leading-tight mb-4"
        >
          Smart Trackers <br class="hidden md:block" />
          for Cows and Cattles
        </h1>

        <p
          class="text-lg md:text-xl text-gray-200 animate-fade-up animate-delay-2 mb-6"
        >
          We take care of your cattles 24/7 <br />
          and see their location live in a dashboard
        </p>

        <div class="flex flex-wrap mt-8 gap-6">
          <button
            mat-flat-button
            class="animate-fade-up animate-delay-3"
            color="primary"
            style="width: 15rem; height: 3.5rem; font-size: 1.3rem"
          >
          <mat-icon>map</mat-icon>
            tracker map
          </button>
          <button
            mat-flat-button
            class="animate-fade-up animate-delay-3"
            color="accent"
            style="width: 15rem; height: 3.5rem; font-size: 1.3rem"
          >
            Get started <mat-icon>star_shine</mat-icon>
          </button>
        </div>
      </div>
    </div>


    <div class="flex"></div>
    
  </div>
</section>
