<div class="w-full flex justify-center">
  <div class="blog-card max-w-sm isolate z-10 relative bg-neutral-950 shadow-lg rounded-xl overflow-hidden">
<app-bg-shades-bottom></app-bg-shades-bottom>

    <!-- Image -->
    <img src="images/elveszett-borju.png" alt="Blog preview" class="w-full h-auto object-cover" />

    <!-- Card Content -->
    <div class="p-6">
      <p class="text-gray-200 text-2xl mb-2">
        The story of the lost calf
      </p>
      <p class="text-gray-200 text-sm">
        A few years ago, we started developing GPS-enabled cattle ear tags.
        After the first few prototypes were completed, ...
      </p>
    </div>

    <!-- Card Actions -->
    <div class="px-6 pb-6">
      <button mat-raised-button color="primary" class="w-full flex items-center justify-center" style="border-radius: 55px; font-size: 1.25rem; padding: 25px 0; width: 100%;">
        <mat-icon>article_person</mat-icon>
        Visit Blog
      </button>
    </div>
    
  </div>
</div>
