<div class="w-full relative isolate overflow-x-clip py-44">
  <app-bg-shades></app-bg-shades>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 items-center max-w-7xl mx-auto">


    <div class="order-last lg:order-first product-image" style="opacity: 0; transform: translateY(50px);">
      <div class="rounded-3xl border-2 relative isolate overflow-visible border-1 border-cyan-950 shadow-md">
        <img src="/images/cow-head.png" alt="Cows grazing on hillside" class="w-full h-auto object-cover cow-head"/>
        <app-bg-shades></app-bg-shades>
        <img src="/images/cow-eartag.png" alt="Cows eartag" class="w-24 h-24 absolute right-[3rem] top-[13rem] object-contain cow-eartag"/>
      </div>
    </div>


    <div class="space-y-6 right-content order-first lg:order-last">

      <div class="space-y-2 animate-delay-2">
        <p class="text-sm  tracking-wide uppercase" style="color: oklch(70.8% 0 0); opacity:0; transform: translateY(50px);">
          {{ 'products.INTRO' | translate }}
        </p>
        <h1 class="text-5xl md:text-6xl font-bold" style="color: oklch(97% 0 0); opacity:0; transform: translateY(50px);">
          {{ 'products.TITLE' | translate }}
        </h1>
      </div>

      <div class="space-y-4 text-base md:text-lg" style="color: oklch(92.2% 0 0); line-height: 1.5;">
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH1' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH2' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH3' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH4' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH5' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH6' | translate"></p>
      </div>

      <div class="pt-4">
        <button mat-raised-button color="primary" style="border-radius: 55px; font-size: 1.25rem; padding: 30px 0; width: 100%; opacity:0; transform: translateY(50px);">
          <mat-icon>precision_manufacturing</mat-icon>
          {{ 'products.BUTTON' | translate }}
        </button>
      </div>

    </div>
  </div>
</div>
