
<div class="w-full relative bg-black isolate  py-44 px-4 sm:px-6 md:px-10">
  <app-bg-shades></app-bg-shades>
 <span class="absolute -top-32 -right-44 opacity-30 md:block">
    <svg
      width="400"
      height="400"
      viewBox="0 0 590 590"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="294.897"
        cy="294.897"
        r="293.332"
        stroke="oklch(86.5% 0.127 207.078)"
        stroke-width="3.12971"
      />
      <path
        d="M529.831 294.898C529.831 424.876 424.643 530.24 294.893 530.24C165.143 530.24 59.9549 424.876 59.9549 294.898C59.9549 164.92 165.143 59.557 294.893 59.557C424.643 59.557 529.831 164.92 529.831 294.898Z"
        stroke="oklch(86.5% 0.127 207.078)"
        stroke-width="3.12971"
      />
      <path
        d="M469.527 294.898C469.527 395.314 391.286 476.611 294.901 476.611C198.515 476.611 120.275 395.314 120.275 294.898C120.275 194.482 198.515 113.185 294.901 113.185C391.286 113.185 469.527 194.482 469.527 294.898Z"
        stroke="oklch(86.5% 0.127 207.078)"
        stroke-width="3.12971"
      />
    </svg>
  </span>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 items-center max-w-7xl mx-auto">

    <!-- Left Image -->
    <div class="order-last lg:order-first product-image mb-10 lg:mb-0"
         style="opacity: 0; transform: translateY(50px);">
      <div class="rounded-3xl border-2 relative isolate overflow-visible border-1 border-cyan-950 shadow-md">
        <img src="/images/cow-head.png" alt="Cows grazing on hillside" class="w-full h-auto object-cover cow-head"/>
        <app-bg-shades></app-bg-shades>
        <img src="/images/cow-eartag.png" alt="Cows eartag" class="w-24 h-24 absolute right-[3rem] top-[13rem] object-contain cow-eartag"/>
      </div>
    </div>

    <!-- Right Content -->
    <div class="space-y-6 right-content order-first lg:order-last">

      <div class="space-y-2 animate-delay-2">
        <p class="text-sm tracking-wide uppercase"
           style="color: oklch(70.8% 0 0); opacity:0; transform: translateY(50px);">
          {{ 'products.INTRO' | translate }}
        </p>
        <h1 class="text-5xl md:text-6xl font-bold"
            style="color: oklch(97% 0 0); opacity:0; transform: translateY(50px);">
          {{ 'products.TITLE' | translate }}
        </h1>
      </div>

      <div class="space-y-4 text-base md:text-lg" style="color: oklch(92.2% 0 0); line-height: 1.5;">
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH1' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH2' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH3' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH4' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH5' | translate"></p>
        <p style="opacity:0; transform: translateY(50px);" [innerHTML]="'products.PARAGRAPH6' | translate"></p>
      </div>

      <div class="pt-4 isolate relative">
        <app-bg-shades-bottom></app-bg-shades-bottom>
        <button mat-raised-button color="primary"
                class="w-full sm:w-auto px-6 sm:px-10 py-6 sm:py-8"
         style="border-radius: 55px; font-size: 1.25rem; padding: 30px 0; width: 100%; opacity:0; transform: translateY(50px);">
          <mat-icon>precision_manufacturing</mat-icon>
          {{ 'products.BUTTON' | translate }}
        </button>
      </div>

    </div>
  </div>

   <span class="absolute -bottom-32 -left-44 opacity-30 md:block">
    <svg
      width="400"
      height="400"
      viewBox="0 0 590 590"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="294.897"
        cy="294.897"
        r="293.332"
        stroke="oklch(86.5% 0.127 207.078)"
        stroke-width="3.12971"
      />
      <path
        d="M529.831 294.898C529.831 424.876 424.643 530.24 294.893 530.24C165.143 530.24 59.9549 424.876 59.9549 294.898C59.9549 164.92 165.143 59.557 294.893 59.557C424.643 59.557 529.831 164.92 529.831 294.898Z"
        stroke="oklch(86.5% 0.127 207.078)"
        stroke-width="3.12971"
      />
      <path
        d="M469.527 294.898C469.527 395.314 391.286 476.611 294.901 476.611C198.515 476.611 120.275 395.314 120.275 294.898C120.275 194.482 198.515 113.185 294.901 113.185C391.286 113.185 469.527 194.482 469.527 294.898Z"
        stroke="oklch(86.5% 0.127 207.078)"
        stroke-width="3.12971"
      />
    </svg>
  </span>
</div>
