<div class="relative  overflow-y-hidden  p-9 py-24 overflow-x-clip isolate w-full bg-black">

 <app-bg-shades></app-bg-shades>
 <app-bg-shades-bottom></app-bg-shades-bottom>

  
<div class="flex gap-5 justify-center">
  <mat-card
    style="color: black; max-width: 26rem;"
    *ngFor="let feature of features"
    class="mission-card"
    [ngClass]="feature.class"
    appearance="outlined"
  >
    <mat-card-header>
      <mat-icon style="color: rgb(13, 13, 13);" mat-card-avatar>
        {{ feature.icon }}
      </mat-icon>
      <mat-card-title style="color: black;">
        {{ feature.title }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p style="color: rgb(32, 32, 32);">{{ feature.description }}</p>
    </mat-card-content>
  </mat-card>
  </div>
</div>


