.mission-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2rem;
}

.mission-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.mission-container {
  display: flex;

  justify-content: center;
  gap: 24px; //IMPORTANTE
  padding: 40px; //IMPORTANTE
  background: black;
}

.mission-card {
margin: 2.5rem 0;
padding: 1.8rem 2rem;
  color: white;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission-card mat-icon {
  font-size: 40px;
  margin-right: 8px;
  color: white;
}

.mission-card mat-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 4px;
}

.mission-card mat-card-content p {
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.85);
}

.mission-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

/* Custom color themes */
.mission-card.realtime {
  background-color: #00dddd; /* Material green 800 */
}

.mission-card.waterproof {
  background-color: #ffb787 /* Material grey 800 */
}

.mission-card.led {
  background-color: #72b3b3; /* Material green 700 */
}
