<!-- Blur Effect 1 -->
<div
  aria-hidden="true"
  class="pointer-events-none absolute inset-x-0 -top-40 -z-20 transform-gpu overflow-hidden blur-3xl sm:-top-80 animate-blur-move"
>
  <div class="blur-shape"></div>
</div>

<!-- Blur Effect 2 -->
<div
  aria-hidden="true"
  class="pointer-events-none absolute inset-x-0 -top-40 -z-20 transform-gpu overflow-hidden blur-3xl sm:top-[15rem] left-[70rem] animate-blur-move"
>
  <div class="blur-shape"></div>
</div>

<!-- Blur Effect 3 -->
<div
  aria-hidden="true"
  class="pointer-events-none absolute inset-x-0 -top-40 -z-20 transform-gpu overflow-hidden blur-3xl sm:top-[10rem] right-[10rem] animate-blur-move"
>
  <div class="blur-shape"></div>
</div>
