.contact-cta-card {
  background-color: "#ffb787";
  border-radius: 20px !important;

  min-height: 280px;
  padding: 20px;
  position: relative;

}


.contact-button {
  background-color: #2d3748 !important;
  color: white !important;
  border-radius: 8px !important;
  
  &:hover {
    background-color: #1a202c !important;
  }
}

::ng-deep {
  .contact-cta-card .mat-mdc-card-content {
    padding: 0 !important;
  }
}



.cow-head {
  animation: floatUpDown 4s ease-in-out infinite;
}


.cow-eartag {
  animation: floatUpDown 4s ease-in-out infinite;
  animation-delay: 0.2s; 
}

@media (max-width: 768px) {
  .decoration-image {
    width: 40%;
    opacity: 0.2;
  }
}




@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

