<section
  class="w-full py-20 px-6 isolate overflow-x-clip overflow-y-visible relative"
>
  <app-bg-shades></app-bg-shades>

  <!-- Header -->
  <div class="max-w-7xl mx-auto text-start mb-16">
    <h2 class="text-4xl md:text-5xl font-extrabold text-neutral-200">
      Our <span class="text-cyan-300">employees</span>
    </h2>
    <p class="text-neutral-400 mt-4 max-w-3xl mx-auto text-lg">
      We delive smart solutions
    </p>
  </div>

  <!-- Team Members Grid -->
  <div
    class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3 justify-items-center max-w-7xl mx-auto"
  >
    <!-- Card 1: Zoltán Erdei -->
    <div
      class="bg-neutral-900 border border-neutral-800 text-white rounded-2xl shadow-lg hover:shadow-2xl transition duration-300 overflow-hidden max-w-sm w-full flex flex-col items-center"
    >
      <div class="p-10 text-center">
        <img
          src="images/zoltan-erdei.jpg"
          alt="Zoltán Erdei"
          class="w-32 h-32 mb-6 rounded-full object-cover border-2 border-cyan-400"
        />
        <h3 class="text-xl font-semibold text-neutral-200">Zoltán Erdei</h3>
        <p class="font-medium text-cyan-400">Owner, Electrical engineer</p>
      </div>
      <div
        class="flex border-t border-neutral-800 divide-x divide-neutral-800 w-full"
      >
        <a
          href="#"
          class="flex-1 p-5 text-center text-neutral-400 hover:bg-neutral-800 hover:text-cyan-400 transition duration-200"
        >
          <mat-icon>email</mat-icon>
        </a>

        <a
          href="https://www.linkedin.com/in/zoltan-erdei-zanesystems/"
          target="_blank"
          rel="noopener noreferer"
          class="flex-1 p-5 cursor-pointer text-center text-neutral-400 hover:bg-neutral-800 hover:text-cyan-400 transition duration-200"
        >
          <mat-icon>link</mat-icon>
        </a>
      </div>
    </div>

    <!-- Card 2: Szufeljak János -->
    <div
      class="bg-neutral-900 border isolate overflow-clip relative border-neutral-800 text-white rounded-2xl shadow-lg hover:shadow-2xl transition duration-300 max-w-sm w-full flex flex-col items-center"
    >
     

      <div class="p-10 text-center">
        <img
          src="images/szufeljak-janos.jpg"
          alt="Szufeljak János"
          class="w-32 h-32 mb-6 rounded-full object-cover border-2 border-cyan-400"
        />
        <h3 class="text-xl font-semibold text-neutral-200">Szufelják János</h3>
        <p class="font-medium text-cyan-400">Business Development Manager</p>
      </div>
      <div
        class="flex border-t border-neutral-800 divide-x divide-neutral-800 w-full"
      >
        <a
          class="flex-1 p-5 text-center text-neutral-400 cursor-pointer hover:bg-neutral-800 hover:text-cyan-400 transition duration-200"
        >
          <mat-icon>email</mat-icon>
        </a>

        <a
          href="https://www.linkedin.com/in/janos-szufeljak/"
          target="_blank"
          rel="noopener noreferer"
          class="flex-1 p-5 cursor-pointer text-center text-neutral-400 hover:bg-neutral-800 hover:text-cyan-400 transition duration-200"
        >
          <mat-icon>link</mat-icon>
        </a>
      </div>
    </div>

    <!-- Card 3: Leo Reus -->
    <div
      class="bg-neutral-900 border border-neutral-800 text-white rounded-2xl shadow-lg hover:shadow-2xl transition duration-300 overflow-hidden max-w-sm w-full flex flex-col items-center"
    >
      <div class="p-10 text-center">
        <img
          src="images/leo-reus.jpeg"
          alt="Leo Reus"
          class="w-32 h-32 mb-6 object-[center_top] rounded-full object-cover border-2 border-cyan-400"
        />
        <h3 class="text-xl font-semibold text-neutral-200">Leo Reus</h3>
        <p class="font-medium text-cyan-400">Software Developer</p>
      </div>
      <div
        class="flex border-t border-neutral-800 divide-x divide-neutral-800 w-full"
      >
        <a
          class="flex-1 p-5 text-center cursor-pointer text-neutral-400 hover:bg-neutral-800 hover:text-cyan-400 transition duration-200"
        >
          <mat-icon>email</mat-icon>
        </a>

        <a
          class="flex-1 p-5 text-center cursor-pointer text-neutral-400 hover:bg-neutral-800 hover:text-cyan-400 transition duration-200"
        >
          <mat-icon>link</mat-icon>
        </a>
      </div>
    </div>
  </div>
</section>
