<div
  class="flex flex-col md:flex-row   items-center justify-between md:space-x-12 py-12 max-w-7xl mx-auto"
>
<
  <div class="flex-1 mb-8 md:mb-0 ">
    <h2 class="text-4xl font-bold mb-6 ">About us</h2>
    <p class="font-semibold mb-2">
      <span class="font-bold">ZANE systems Limited Liability</span> Company was
      founded in <span class="font-bold">2012</span> by electrical engineer
      <span class="font-bold">Zoltán Erdei</span>.
    </p>
    <p class="mb-4">
      The company was established to meet the needs of foreign and domestic
      circuit design, accordingly, the main activity of the company from the
      very beginning is the production of electronic circuit board and
      electronic design.
    </p>
    <p class="mb-4">
      Creating a design office capable of designing world-class electronic
      products played a very important role in founding the company.
    </p>
    <p>
      Our mission is to show that Hungarian electronics professionals can stand
      their ground not only in electronics contract manufacturing, but also in
      design.
    </p>
  </div>
  <div class="flex-1 flex justify-center">
    <div
      style="
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
      "
      class="rounded-3xl border-2 shadow-lg border-neutral-400 overflow-hidden max-w-md w-full"
    >
      <img
        src="images/zane-epulet.jpg"
        alt="Company Office"
        class="w-full h-auto object-cover"
      />
    </div>
  </div>
</div>
